@using Company.G03.DAL.Models
@model Employee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<br /><br />

<form asp-action="Delete">

    <partial name="PartialViews/DeleteDetailsEmployeePartialView " model="Model" />

    <input type="submit" value="Delete" class="btn btn-danger" />
    <a  asp-action="Index" class="btn btn-light">Back To List</a>
</form>
