

@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout1.cshtml";
}

<div class="main-agileinfo">
	<div asp-validation-summary="All"></div>
	<div class="agileits-top">
		<div>
			<p>
				Reset Password Link Has Been Send To your Email, please check your Inbox
			</p>
		</div>

		<div>
			<a href="https://mail.google.com/" target="_blank"> Your Inbox </a>
		</div>
 
	</div>
</div>

